*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:rgb(81, 81, 81)
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

header{
    position: absolute;
    width: 100vw;
    display:flex;
    margin: 1rem;
}

.left{
    margin-right: auto;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.right{
    margin-right: 3rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

main {
  display: flex;
  align-items: center;
 
  height: 80vh;
  width: 100vw;
}

.container {
  max-width: 800px;
  width: 80%;
  margin-inline: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.logo{
    width: 80%;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}

.logo > img{
    width: 275px;
    cursor: pointer;
    
}

.search-bar{
    width:70%;
    margin-bottom: 1rem;
    border-radius: 50px;
    /* border:0.5px solid black; */
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.search-bar:hover{
    box-shadow: 0 0 1px darkblue;
}

.search-bar > input {
    width: 90%;
    height: 2.5rem;
    border: none;
    font-size: 1.25rem;
    
    
}

button{
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    color: rgb(66, 66, 66);
}

button:hover{
    box-shadow: 0 0 1px darkblue;
}

input:focus {
    outline-width: 0;
}

footer{
    position: absolute;
    width: 100vw;
    display:flex;
    margin: 1rem;
    bottom: 0;
    font-size: 0.9rem;
}

<div class="container">
<div class="logo">
  <img src="./images/logo.png" alt="Google logo" />
</div>
<div class="search-bar">
  <div class="magnify"></div>
  <input type="text" placeholder="" />
  <div class="microphone"></div>
</div>
<div class="btns">
  <button class="search-btn">Google Search</button>
  <button class="lucky-btn">I'm Feeling Lucky</button>
</div>
